<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form th:object="${book}" action="/books/fix" method="post">
        <input type="hidden" name="id" th:value="${book.id}"/>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:value="${book.title}">
        </div>
        <div class="form-group">
            <label for="writer">저자</label>
            <input type="text" id="writer" name="writer" th:value="${book.writer}">
        </div>
        <div class="form-group">
            <label for="year">출판연도</label>
            <input type="text" id="year" name="year" th:value="${book.year}">
        </div>
        <button type="submit">수정</button>
    </form>
</div> <!-- /container -->
</body>
</html>