<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>도서 관리 프로그램</h1>
        <div>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>출판연도</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.writer}"></td>
                    <td th:text="${book.year}"></td>
                    <td>
                        <form action="/books/fix" method="post">
                            <button type="submit">수정</button>
                        </form>
                    <td>
                        <form action="/books/delete" method="post">
                            <input type="hidden" th:name="id" th:value="${book.id}">
                            <button type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form action="/books/new">
                <button type="submit">도서 추가하기</button>
            </form>
        </div>
    </div> <!-- /container -->
</body>
</html>